@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1dvw;
  font-family: "Roboto Mono", monospace;
  color: #191919;
}
@media only screen and (max-width: 768px) {
  *{
    font-size: 0.8dvw;
  }
  }
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-padding-top: 10px;
}
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
::-webkit-scrollbar-button {
  width: 3px;
  height: 3px;
}

body {
  padding: 2% 6% 1% 6%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.web-logo {
  width: 6dvw;
}
.header-menu {
  border: 1px solid #191919;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40dvw;
  padding: 5px 0;
}

.items-link {
  text-decoration: none;
  position: relative; 
}

.menu-items {
  width: 2dvw;
  height: 2dvw;
  transition: 0.4s ease-in;
  margin: 0 3.5dvw;
  transition: 0.3s ease-in;
  padding: 2px;
  color: black;
}
.text {
  opacity: 0;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 6dvw;
  height: 2dvw;
  font-size: 0.8dvw;
  display: grid;
  place-items: center;
  border-radius: 5px;
  transition: 0.3s ease-in;
}
.items-link:hover .text {
opacity: 1;
scale: 1.1;
background-color: #de6161;
color:white;
transition: 0.3s ease-in;
}
.banner-main {
  overflow: hidden;
}
.banner-image {
  width: 100%;
  margin-top: 2dvh;
  border-radius: 20px;
  transition: 0.5s ease-in;
  cursor: pointer;
}
.banner-image:hover {
  scale: 1.2;
  transition: 0.5s ease-out;
}
.contact-box {
  width: 100%;
  height: 80dvh;
  margin-top: 10dvh;
  backdrop-filter: blur(14px) saturate(158%);
  -webkit-backdrop-filter: blur(14px) saturate(158%);
  background-color: rgba(17, 25, 40, 0.61);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.form-box {
  display: grid;
  margin-left: 2dvw;
}
.contact {
  font-size: 2dvw;
  cursor: pointer;
  position: relative;
}
.contact,
.email-text,
.comment-text {
  color: white;
}

.email-container {
  display: flex;
  margin: 3dvh 0;
  align-items: center;
}
.email {
  width: 20dvw;
  border-radius: 8px;
  margin-left: 1dvw;
  border: none;
}
.comment {
  width: 80dvw;
  height: 50dvh;
  border: none;
  border-radius: 8px;
  margin:1dvh 0;
}
.submit-button {
  color: white;
  border: none;
  background-color: #de6161;
  padding: 1dvw 10dvw;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease-out;
  margin-top: 3dvh;
}
.submit-button:hover {
  scale: 1.15;
  background-color: rgb(55, 224, 91);
  transition: 0.4s ease-out;
  border-radius: 25px;
}
.icon-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 6dvh;
  background-color: #beb7a4;
  border-radius: 20px;
  margin: 4dvh 0;
}
.social-logo {
  width: 3dvw;
  height: 3dvw;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.social-logo:hover {
  scale: 1.2;
  transition: 0.3s ease-out;
}
footer {
  margin-top: 10dvh;
  background-color: #beb7a4;
  border-radius:20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}

.footer-item {
  width: 100%;
  text-align: center;
}

.footer-item img {
  width: 6dvw;
  height: auto;
}

.contact-info p {
  margin: 5px 0;
}

.content {
  padding-top: 4dvh;
}
.hidden {
  scale: 0;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.show {
  scale: 1;
  opacity: 1;
  transition: 0.5s ease-in-out;
}
